
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/aboutusStyle.css"/>
<div id="content">
<div id="contentRight">
    <div id="aboutUsImg">
        <img src="~/images/about.jpg" />
    </div>
    <div id="aboutText">
        <h2 id="pageTitle">Apie mus</h2>
        <p>
            Tempor lacus aliquam class sapien per lacinia. Rutrum dolor malesuada.
            Nullam risus nullam nibh suscipit. Pulvinar dolor ligula. Pulvinar urna litora a dapibus. Aliquet magna rutrum urna convallis. Sapien duis montes. Phasellus et magnis non venenatis risus consequat.
        </p>
    </div>
</div>

