@using OrderUp.Models
@using OrderUp.Helpers
@*@model PaginatedList<OrderUp.Models.Ingredientai>*@
@model OrderUp.Models.CreatePizzaViewModel

@{
    ViewData["Title"] = "Create Pizza";
}

<link rel="stylesheet" href="~/css/OrderCompletecss.css">
<div class="row">
    <div class="col-75">
        <div class="container">
            <form asp-action="Create">

                <div class="row">
                    <div class="col-50">
                        <h1 class="header">Picos kūrimas</h1>
                        <label asp-for="Pavadinimas">Picos pavadinimas</label>
                        <span asp-validation-for="Pavadinimas" class="text-danger"></span>
                        <input type="text" asp-for="Pavadinimas">
                        <label asp-for="Aprasymas">Papildomi komentarai</label>
                        <span asp-validation-for="Aprasymas" class="text-danger"></span>
                        <input type="text" asp-for="Aprasymas">

                        <label asp-for="padas">Pasirinkite picos padą</label>
                        @foreach (var padas in Model.Padas)
                        {
                            <input type="radio" value="@padas.Id" asp-for="padas" /><p>@padas.Name</p><br />
                        }

                    </div>
                </div>
                <input type="submit" value="Sukurti" id="padas" class="btn">
            </form>
        </div>
    </div>


</div>

