* {
	margin: 0px;
	padding: 0px;
}

ul, li {
	margin: 0px;
	padding: 0px;
}

body {
	color: black; /* teksto spalva */
	font-family: Arial, Helvetica, sans-serif; /* šriftas */
	font-size: 12px; /* teksto dydis */
	background-color: #e3e3e3;
}


/* pagrindinis puslapio blokas */
#body {
	width: 100%;
	margin: 0px auto; /* bloko centravimas puslapio viduje */
}

/* viršutinė puslapio dalis */
#header {
	width: 100%;
	height: 70px;
	background-color: #333;
	float: left;
}

/* turinio blokelis */
#content {
	width: 100%;
	background-color: #fff;
	display: flex;
	overflow: hidden;
	background-image: url("../images/double-bubble-outline.png");
}

/* pagrindinio meniu blokelis */
#topMenu {
	width: auto;
	height: 40px;
	float: right;
	background-color: #333;
	margin-top: 15px;
}

	#topMenu a {
		color: #E3564F;
		padding: 5px;
		border-radius: 15px;
		background: #333333;
	}

		#topMenu a:hover {
			padding: 5px;
			border: 1px solid silver;
		}

/* kairysis puslapio blokelis */
#contentLeft {
	width: 20%;
	position: relative;
	background-color: #adb5bd;
}

/* turinio blokelis */
#contentRight {
	width: 70%;
	min-height: 470px; /* minimalus blokelio aukštis */
	border-left: 1px solid silver;
	border-right: 1px solid silver;
	background-color: #fff;
	background-image: url("../images/double-bubble-outline.png");
}

#pizzaPic {
	height: 210px;
	width: 300px;
	margin-left: 10px;
	margin-right: 20px;
	float: left;

}

	#pizzaPic img {
		width: 100%;
		max-height: 200px;
	}

#menuItem {
	border: 1px solid silver;
	margin-top: 20px;
	padding-top: 10px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 98%;
	background-color: white;
}

	#menuItem button {
		border: none;
		outline: 0;
		padding: 12px;
		color: white;
		background-color: #000;
		text-align: center;
		cursor: pointer;
		width: 100%;
		font-size: 18px;
		margin-right: 10px;
		margin-top: 5px;
		width: 100px;
		float: left;
	}

/* apatinė puslapio dalis */
#footer {
	width: 100%;
	height: 40px;
	float: left;
	background-color: #333;
}

#topMenu li {
	float: left; /* nustatome horizontalųjį meniu punktų lygiavimą */
	list-style: none; /* paslepiame sąrašo stiliaus savybes */
	margin: 12px 15px 12px 15px; /* nustatome meniu punktų ribas */
}

	#topMenu li a {
		text-decoration: none; /* paslepiame nuorodos pabraukimą */
	}

		#topMenu li a:hover {
			text-decoration: underline; /* nustatome nuorodos pabraukimą užvedus pele */
		}

		#topMenu li a.active {
			text-decoration: underline; /* nustatome aktyvaus meniu punkto pabraukimą */
		}

#contentLeft li {
	list-style: none;
	margin: 10px 0px 10px 25px;
}

	#contentLeft li a {
		text-decoration: none;
	}

		#contentLeft li a:hover {
			text-decoration: underline;
		}

		#contentLeft li a.active {
			text-decoration: underline;
		}

#contentLeft h2 {
	font-size: 22px;
	font-weight: normal;
	letter-spacing: -0.5px;
	margin: 10px 0px 0px 18px;
}

h2#pageTitle {
	font-size: 26px;
	margin: 10px 0px 0px 0px;
	font-weight: normal;
	border-bottom: solid 1px silver;
	text-align: center;
	margin-bottom: 10px;
}

.newsItem {
	border-bottom: 1px solid silver;
}

.newsItemLast {
	border: 0px;
}

#contentRight p {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 20px;
}

.newsItem p#title {
	font-weight: bold;
}

#slogan {
	margin: 20px 0px 0px 15px;
	color: #E3564F;
	font-size: 22px;
	float: left;
}

a {
	color: #ca4c44;
}

#contentOrder {
	width: 20%;
	float: left;
	min-height: 100vh;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: -0.5px;
	background-color: #adb5bd;
	position: relative;
}

	#contentOrder h2 {
		margin-top: 10px;
		margin-left: 20px;
	}

#emptyOrderImg {
	width: 100%;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 10px;
}
#orderItem {
	float: left;
	padding-left: 20px;
	font-size: 16px;
}
#orderPrice {
	float: right;
	padding-right: 10px;
	
}
#orderItems{
	width: 100%;
	height:30px;
	border-bottom: 1px solid #333;
	margin-top:10px;
	float: left;
}
#amountInput{
	float:left;
	margin-top: 10px;
	margin-right:10px;
	width: 60px;
	height: 30px;
}
#totalAmount{
	padding-left: 20px;
	float: left;
}
#desc{
	font-size: 15px;
}
#itemPrice {
	margin-right: 20px;
	float: left;
	color: black;
	font-size: 22px;
}
#totalPrice {
	float: right;
	margin-right: 10px;
}
#totals {
	width: 100%;
	height: 30px;
	margin-top: 10px;
	float: left;
}